{% extends 'base.html.twig' %}

{% block title %}Suite Blog {% endblock %}
{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Dental Health Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

{% endblock %}
{% block body %}

<!-- top header -->
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="d-lg-flex header-w3_pvt">
                    <li class="mr-lg-3">
                        <span class="fa fa-envelope-open"></span>
                        <a href="mailto:Dse@symfony.com" class="">Dse@symfony.com</a>
                    </li>
                    <li>
                        <span class="fa fa-phone"></span>
                        <p class="d-inline">Appelez-nous 0526010101</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 header-right-w3_pvt">
                <ul class="d-lg-flex header-w3_pvt justify-content-lg-end">
                    <li class="mr-lg-3">
                        <span class=""><span class="fa fa-clock-o"></span>Lundi - Vendredi : 8:30 à 19:30 GMT</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //top header -->

<!-- //header -->
<header class="py-3">
    <div class="container">
            <div id="logo">
                <h1> <a href="{{ path('default') }}"><span class="fa fa-stethoscope" aria-hidden="true"></span>Symfony Dentiste</a></h1>
            </div>
        <!-- nav -->
        <nav class="d-lg-flex">

            <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
            <input type="checkbox" id="drop" />
            <ul class="menu mt-2 ml-auto">
                <li class="active"><a href="{{ path('about') }}">À propos</a></li>
                <li class=""><a href="{{ path('services') }}">Services</a></li>
                <li class=""><a href="{{ path('gallry') }}">Galerie</a></li>
                <li class=""><a href="{{ path('blog') }}">Blog</a></li>
                <li class=""><a href="{{ path('contact') }}">Contacter nous</a></li>
            </ul>
            <div class="login-icon ml-2">
                <a class="" href="{{ path('admin') }}"> Espace Admin </a>
            </div>
        </nav>
        <div class="clear"></div>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->

<!-- banner -->
<div class="innerpage-banner" id="home">
    <div class="inner-page-layer">
    </div>
</div>
<!-- //banner -->

<!-- single -->
<section class="bottom-banner-w3layouts py-5">
    <div class="container py-md-3">
        <h2 class="heading text-center mb-sm-5 mb-4">Suite Blog Page </h2>
        <div class="row inner-sec-w3ls-agileinfo">
            <!--left-->
            <div class="col-lg-8 left-blog-info text-left">
                    <div class="card">
                        <a href="single.html">
                            <img src="images/bi.jpg" class="card-img-top img-fluid" alt="">
                        </a>
                        <div class="card-body">
                            <ul class="blog-icons my-4">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-calendar"></span> 12 juil 2021</a>
                                </li>
                                <li class="mx-2">
                                    <a href="#">
                                        <span class="fa fa-comment"></span> 25</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-eye"></span> 1870</a>
                                </li>

                            </ul>
                                <h2 class="my-3">Le syndrome de la bouche qui brule, un trouble peu connu</h2>
                                <p class="card-text">C'est une maladie peu connue, qui touche plus les femmes que les hommes et qui peut considerablement deteriorer la qualite de vie de ceux qui en souffrent. Il s'agit du syndrome de la bouche brulante, un trouble complexe et souvent douloureux caracterise par la presence de brulures continues ou recurrentes dans la bouche, parfois sans cause apparente.</p><br>

                                <p class="card-text">Elle est plus frequente chez les adultes de plus de 60 ans, bien que les femmes de plus de 50 ans au stade de la perimenopause ou de la postmenopause soient plus susceptibles d'en souffrir. Elle commence generalement spontanement et est souvent difficile a identifier et a diagnostiquer.</p>


                                <p class="card-text">Vous voulez en savoir plus sur ce trouble oral ? Dans ce nouvel article, nous vous expliquons ce que sont les causes et les symptomes du syndrome de la bouche brulante.</p><br>


                                <h4 class="my-3">Qu'est-ce que le syndrome de la bouche brulante ?</h4>
                                <p class="card-text">Le syndrome de la bouche brulante, egalement connu sous le nom de glossodynie, est un trouble qui provoque une douleur et une brûlure persistantes dans la bouche. Cet inconfort peut egalement affecter la langue, les gencives, les levres, le palais, l'intérieur des joues ou toute autre zone de la cavite buccale.</p><br>

                                <p class="card-text">Elle peut egalement être associee à d'autres affections telles que la secheresse de la bouche, des gencives hypersensibles, des lèvres gercees, ou encore des picotements ou un engourdissement de la langue. Les victimes decrivent souvent une sensation de brulure ou de picotement intense, presque comme si leur bouche etait echaudee.</p>


                                <p class="card-text">La duree de la symptomatologie est variable. Il peut s'agir d'un trouble transitoire d'une duree limitee ou d'un malaise chronique qui dure des mois, voire des annees.</p><br>

                                <h4 class="my-3">Traitement du syndrome de la bouche brulante</h4>
                                <p class="card-text">Le syndrome de la bouche brulante est un trouble complexe, difficile a diagnostiquer et pour lequel il n'existe pas d'approche unique et definitive. Le meme traitement peut fonctionner pour une personne et non pour une autre.</p><br>

                                <p class="card-text">C'est pourquoi, face aux symptomes, il est important de consulter un medecin ou un dentiste afin qu'il puisse examiner la bouche en profondeur et determiner la procedure a appliquer. S'il s'agit d'un syndrome de la bouche brulante secondaire, le traitement du probleme medical sous-jacent pour soulager les symptomes est la norme. Dans d'autres cas, le dentiste peut prescrire certains medicaments pour aider a controler des symptomes tels que la douleur ou la bouche seche.</p>


                                <p class="card-text">Dans les deux cas, suivre certains conseils et changer certaines habitudes peut aider a attenuer ou du moins a ne pas augmenter les symptomes du syndrome de la bouche brulante. Voici quelques-unes des mesures qui peuvent etre prises </p><br>

                                <p class="card-text">·  Évitez les aliments epices ou tres acides.</p>


                                <p class="card-text">.  Buvez des boissons fraiches ou sucez des glacons pour soulager la douleur.<p>
                                <p class="card-text">.   Restez bien hydrate.</p>
                                <p class="card-text">·  Ne buvez pas de boissons alcoolisees.</p>


                                <p class="card-text">.  Utilisez du fil dentaire ou des brosses interdentaires pour eliminer les debris alimentaires.</p>
                                <p class="card-text">.  Arretez de fumer.</p><br>
                        </div>
                    </div>
                    <div class="comment-top">
                        <h4>commentaires</h4>
                        <div class="media">
                            <img src="images/ser3.jpg" alt="" class="img-fluid rounded">
                            <div class="media-body">
                                <h5 class="mt-sm-0 mt-3">Amine AAZ EL AARAB</h5>
                                <p>Article tres interaissan, merci pour l'information docteur.</p>

                            </div>
                        </div>
                    </div>
                    <div class="comment-top">
                        <h4>Laisser un commentaire</h4>
                        <div class="comment-bottom">
                            <form action="#" method="post">
                                <input class="form-control" type="text" name="Name" placeholder="Nom" required="">
                                <input class="form-control" type="email" name="Email" placeholder="Email" required="">

                                <input class="form-control" type="text" name="Subject" placeholder="Sujet" required="">

                                <textarea class="form-control" name="Message" placeholder="Message..." required=""></textarea>
                                <button type="submit" class="btn btn-primary submit">Submit</button>
                            </form>
                        </div>
                    </div>

            </div>
            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 right-blog-con text-left">
                <div class="right-blog-info text-left">
                    <div class="tech-btm">
                        <img src="images/service1.jpg" class="card-img-top img-fluid rounded" alt="">
                    </div>
                    <div class="tech-btm">
                        <h4>Abonnez-vous a notre lettre d'information</h4>
                        <p>Entrer votre adresse e-mail svp,  </p>
                        <form action="#" method="post">
                            <input class="form-control" type="email" placeholder="Email" required="">
                            <input class="form-control" type="submit" value="S'abonner">
                        </form>

                    </div>
                    <div class="tech-btm">
                        <h4>Categories</h4>
                        <ul class="list-group single">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Symfony Dentiste
                                <span class="badge badge-primary badge-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Covid-19 informations
                                <span class="badge badge-primary badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Dentiste coeur d'ange.
                                <span class="badge badge-primary badge-pill">1</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tech-btm">
                        <h4>Top stories de la semaine</h4>

                        <div class="blog-grids row mb-3">
                            <div class="col-md-5 blog-grid-left">
                                <a href="single.html">
                                    <img src="images/service4.jpg" class="card-img-top img-fluid rounded" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 blog-grid-right">

                                <h5>
                                    <a href="single1.html">Pourquoi une bonne sante bucco-dentaire aide a prevenir les maladies cardiovasculaires </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <span class="fa fa-clock-o"></span> 6 aout 2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-grids row mb-3">
                            <div class="col-md-5 blog-grid-left">
                                <a href="single.html">
                                    <img src="images/service5.jpg" class="card-img-top img-fluid rounded" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 blog-grid-right">
                                <h5>
                                    <a href="single.html">Le syndrome de la bouche qui brule, un trouble peu connu </a>
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <span class="fa fa-clock-o"></span> 12 jul 2021</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tech-btm widget_social text-left">
                        <h4>Restez connecté</h4>
                        <ul>

                            <li>
                                <a class="twitter" href="#">
                                    <span class="fa fa-twitter"></span>
                                    <span class="count">317K</span> Twitter Followers</a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <span class="fa fa-facebook"></span>
                                    <span class="count">218k</span> Facebook Followers</a>
                            </li>
                            <li>
                                <a class="dribble" href="#">
                                    <span class="fa fa-dribbble"></span>

                                    <span class="count">215k</span> Dribble Followers</a>
                            </li>
                            <li>
                                <a class="pin" href="#">
                                    <span class="fa fa-pinterest"></span>
                                    <span class="count">190k</span> Pinterest Followers</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </aside>
            <!--//right-->
        </div>
    </div>
</section>
<!-- //contact -->

<!-- appointment -->
<section class="appointment text-center py-5">
    <div class="container py-sm-3">
        <h4>FAITES DE VOTRE SOURIRE DE REVE UNE REALITE</h4>
        <p class="mt-3">Appelez-nous pour reserver votre rendez-vous aujourd'hui
</p>
        <a href="{{ path('contact') }}">Prenez rendez-vous</a>
    </div>
</section>
<!-- //appointment -->

<!-- footer -->
<footer class="py-5">
    <div class="container py-sm-3">
        <div class="row footer-grids">
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                <h4 class="mb-sm-4 mb-3"><span class="fa fa-stethoscope"></span> Sante dentaire</h4>
                <h5>Approuve par<span>500+ Personnes</span> </h5>
            </div>
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                <h4 class="mb-sm-4 mb-3">Address Info</h4>
                <p><span class="fa mr-2 fa-map-marker"></span>: B.P. 6217, Madinat Al Irfane, Rabat-Institut<span>Rabat, Maroc</span></p>
                <p class="phone py-2"><span class="fa mr-2 fa-phone"></span>0526010101</p>
                <p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@example.com"> Dse@Symfony.com</a></p>
            </div>
            <div class="col-lg-2 col-sm-6 mb-sm-0 mb-4">
                <h4 class="mb-sm-4 mb-3">Liens rapides</h4>
                <ul>
                    <li><a href="#">Termes & Conditions</a></li>
                    <li class="my-2"><a href="#">Support Helpline</a></li>
                    <li><a href="#">Conseils sante</a></li>
                    <li class="mt-2"><a href="#">Politique de confidentialite</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h4 class="mb-sm-4 mb-3">Subscribe Us</h4>
                <p class="mb-3">Subscribe to our newsletter</p>
                <form action="#" method="post" class="d-flex">
                    <input type="email" id="email" name="EMAIL" placeholder="Enter your email here" required="">
                    <button type="submit" class="btn">Subscribe</button>
                </form>
                <div class="icon-social mt-3">
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-facebook"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-twitter"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-dribbble"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-pinterest"></span>
                    </a>
                    <a href="#" class="button-footr">
                        <span class="fa mx-2 fa-google-plus"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container py-4">
        <div class=" text-center">
            <p>© 2021 Dental Health. All Rights Reserved</p>
        </div>
    </div>
</div>
<!-- //copyright -->
        
<!-- move top -->
<div class="move-top text-right">
    <a href="#home" class="move-top"> 
        <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
    </a>
</div>
<!-- move top -->

{% endblock %}