{% extends 'base.html.twig' %}

{% block title %}Fiche Traitement{% endblock %}

{% block body %}
<h1><span class="fa fa-stethoscope" aria-hidden="true"></span>Fiche Traitement</h1>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fiche_traitement.id }}</td>
            </tr>
            <tr>
                <th>Nbr_fiche</th>
                <td>{{ fiche_traitement.nbrFiche }}</td>
            </tr>
            <tr>
                <th>patient</th>
                <td>{{ fiche_traitement.patient  }}</td>
            </tr>
            <td>
                <div class="login-icon ml-2">
                    <a class="" href="{{ path('fiche_traitement_index') }}"> back to list </a>

                    <a class="" href="{{ path('fiche_traitement_edit', {'id': fiche_traitement.id}) }}"> edit </a>
                </div>
            </td>
        </tbody>
    </table>

    {{ include('fiche_traitement/_delete_form.html.twig') }}
{% endblock %}
